body
{
    margin: 0;
    color: #202124;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header
{
    margin: 10px;
    vertical-align: middle;
    color: #5f6368;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

header span
{
    margin: 10px;
}

.search
{
    display: inline-block;
    border: 0px;
    box-shadow: 1px 1px 5px #999;
    border-radius: 40px;
    height: 40px;
    vertical-align: middle;
    width: 680px;
    padding: 3px;
    vertical-align: top;
    margin: 17px 25px;
}
.search span
{
    float: right;
    color:#4285f4;
    margin: 8px;
}
.search input
{
    width: 75%;
    height: 80%;
    margin: 4px 4px 4px 13px;
    border: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #ddd;
}
.search input:focus
{
    outline: transparent;
}

.search input::placeholder
{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.search .material-icons
{
    font-size: 24px;
    margin: 8px;
}

img
{
    width: 92px;
    margin: 25px 15px;
}

div .material-icons
{
    font-size: 18px;
    margin: 0px;
}
div a
{
    margin-right: 15px;
}

main
{
    padding: 0px 180px;
}

p
{
    margin-bottom: 10px;
}

section
{
    width: 600px;
    margin-bottom: 15px;
}

section a
{
    text-decoration: none;
    color: #1a0dab;
}

section p
{
    display: inline-block;
    margin: 3px 5px 5px 0px;
    line-height: 1.58;
    font-size: 14px;
    color: #444;
}

section p b
{
    font-weight: 800;
}

h2
{
    margin: 0px;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
}

section table
{
    margin: 10px;
    border-collapse: separate;
}
section table tr td
{
    padding: 5px 60px 5px 5px;
}
